<div class="container text-center my-4">
    <div class="row">
        <div class="col text-start fs-5">
            <h1>Про проєкт</h1>
            <br>Вітаємо в Адарлані — величезній імперії, де магію знищили дотла, а трон тримає жорстокий тиран. 
            Ця візуальна новелка від студії «Somnia» — це наша адаптація першої книжки культової фентезі-серії Сари Дж. Маас. 
            Ми хочемо показати вам світ Ерілеї в усіх деталях: від похмурих каторжних копалень до розкішного королівського палацу в Ріфтхолді.
            <br><br><h3>Сюжет</h3>
            Все починається в Соляних копальнях Ендв'єра, де вже рік мучиться Селена Сардотін — колись найнебезпечніша найманка в королівстві. 
            Здавалося, життя закінчене, але раптом принц Дорін Хавільярд робить їй несподівану пропозицію — і з'являється шанс вирватись на волю.

            У цій історії ви побачите жорстокий турнір, де Селені треба буде битись з найсильнішими воїнами та найжорстокішими злочинцями імперії. 
            Але найстрашніше не на арені — щось давнє і темне прокидається в глибинах замку.
            <br><br><h3>Атмосфера</h3>
            Ми зробили цей проєкт, щоб ви могли по-новому пережити улюблену історію:
            <ul>
                <li>Красива картинка — детально прорисовані локації та персонажі, щоб ви могли повністю зануритись у кожну сцену
                <li>Епічна музика — саундтрек, який передає всю напругу та містичність цього світу  
                <li>Повага до оригіналу — ми намагались зберегти дух книги та характери героїв такими, якими їх задумала авторка
            </ul>
            Поринайте в історію про честь, таємниці та залізну волю. Відчуйте разом із Селеною, що таке холод скла і гострота сталі.
        </div>
        <div class="col d-flex align-items-center">
           <img src="thumbnail.png" alt="Throne of Glass" class="img-fluid"> 
        </div>
    </div>
</div>