<div class="container my-4">
    <div class="row">
        <div class="col text-start fs-5">
            <h1>Про студію Somnia</h1>
            Somnia — Команда фанатів темного фентезі. Ми просто обожнюємо ці історії і хочемо перетворювати їх на візуальні новели. 
            Назву вибрали не випадково — Somnia це про мрії та уяву, які ми намагаємось втілити в кожному нашому проєкті.
        
            <div class="text-center my-5">
                <button class="btn btn-dark" routerLink="/about-us">
                    Детальніше
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="col d-flex align-items-center">
           <img src="logo.png" alt="Somnia" class="img-fluid"> 
        </div>
    </div>
</div>

        <!-- <div class="col text-start">
            <h1>Про студію Somnia</h1>
            <h5>Хто ми?</h5>
            Somnia — Команда фанатів темного фентезі. 
            Ми просто обожнюємо ці історії і хочемо перетворювати їх на візуальні новели. 
            Назву вибрали не випадково — Somnia це про мрії та уяву, які ми намагаємось втілити в кожному нашому проєкті.
            <h5>Навіщо ми це робимо?</h5>
            Чесно кажучи, нам хочеться, щоб в Україні було більше крутих візуальних новел. 
            Особливо — українською мовою. 
            Світові бестселери заслуговують на те, щоб їх можна було пережити по-новому. 
            "Скляний трон" — це наш перший великий проєкт, і ми вклали в нього все, що вміємо.
            <h5>Чому саме це?</h5>
            Ми віримо, що хороша книжка може змінити життя, а якщо додати до неї крутий візуал — враження стане ще сильнішим. 
            Кожен з нас у команді — це насамперед фанат цієї історії, тому ми докопуємось до всіх дрібниць: від того, як виглядає Скляний замок, до того, що відчувають герої.
            <h5>Підтримайте нас!</h5>
            Ми тільки-тільки почали, і кожен відгук для нас дуже важливий. 
            Серйозно, ваша підтримка — це те, що дає нам сили працювати далі і створювати нові проєкти.
        </div>
        <div class="col">
           <img src="logo.png" alt="Somnia" class="img-fluid"> 
        </div> -->