<div class="container my-4">
    <div class="row">
        <div class="col-md text-start fs-5">
            <h1>Про студію Somnia</h1>
            Somnia — Команда фанатів темного фентезі. Ми просто обожнюємо ці історії і хочемо перетворювати їх на візуальні новели. 
            Назву вибрали не випадково — Somnia це про мрії та уяву, які ми намагаємось втілити в кожному нашому проєкті.
        
            <div class="text-center my-5">
                <button class="btn btn-dark" routerLink="/about-us">
                    Детальніше
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
        <div class="col-md d-flex align-items-center">
           <img src="logo.png" alt="Somnia" class="img-fluid"> 
        </div>
    </div>
</div>